@model int

@{
    ViewData["Title"] = "Confirmation";
}

<div class="text-center">
    <h1 class="text-info pt-4">Thank you for your order!</h1>
    <h4 class="text-warning pb-3">Order ID - @Model</h4>

    <img src="/images/orangeOrder.jpeg" width="50%" />
</div>